@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.hero {
  overflow: hidden;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #fafafafa;

  @include tablet {
    padding: 10rem 5rem;
  }

  @include mobile {
    flex-direction: column;
    padding: 8rem 2.5rem;
  }
}

.bg {
  background-image: url(../../assets/images/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.description {
  flex: 1;
  padding-bottom: 8rem;
}

.hide {
  overflow: hidden;

  h2 {
    @include mobile {
      font-size: 2.3rem;
    }
  }
}

.button {
  margin-top: 5vh;
  padding: 1rem 2rem;
  background-color: $color-secondary;
  &:hover {
    background-color: $color-primary;
  }
}
