@use "../../assets/styles/variables" as *;

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #fafafafa;
}

.bg {
  background-image: url(../../assets/images/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.description {
  flex: 1;
  padding-right: 5rem;
  padding-bottom: 8rem;

}

.hide {
  overflow: hidden;
}

.button {
  margin-top: 5vh;
  background-color: $color-secondary;
  &:hover {
    background-color: $color-primary;
  }
}
