.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #fafafafa;
}

.description {
  flex: 1;
  padding-right: 5rem;
}

.hide {
  overflow: hidden;
}

.button {
  margin-top: 5vh;
}
