@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.layout {
  min-height: 90vh;
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 5fr;
  align-items: start;
  gap: 1em 3em;
  padding: 5rem 5rem;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    text-align: center;
    align-items: center;
  }

  @include mobile {
    padding: 2rem 2rem;
  }
}

.headline {
  grid-area: 1 / 1 / 2 / 3;

  @include tablet {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    @include mobile {
      h2 {
        font-size: 1.8rem;
      }
    }
  }
}

.image {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }

  @include tablet {
    margin-bottom: 2rem;
  }
}

.detailsStyle {
  grid-area: 2 / 2 / 3 / 3;

  p {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 2rem;
  }

  @include tablet {
    text-align: left;
    margin-top: 0;
  }

  @include mobile {
    padding: 2rem;
    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .detailsHeading {
    display: flex;
    justify-content: space-between;
  }

  .line {
    width: 100%;
    background: $color-secondary;
    height: 0.2rem;
    margin: 1rem 0rem;
  }

  .text {
    padding: 2rem 0rem;
  }
  .buttonsWrapper {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 1rem;
      color: $color-white;

      @include mobile {
        padding: 0.5rem 1rem;
      }
    }
  }
}
