@use "../../assets/styles/variables" as *;

.layout {
  height: 90vh;
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 1em 1em;
  grid-template-areas:
    "title title"
    "img description";
}

.headline {
  h2 {
    grid-area: title;
    margin-bottom: 5rem;
  }
  img {
    object-fit: cover;
    justify-self: center;
    align-self: center;
    grid-area: img;
  }
}

.line {
  width: 100%;
  background: $color-secondary;
  height: 0.2rem;
  margin: 1rem 0rem;
}

.detailsLayout {
}

.detailsHeading {
  display: flex;
  justify-content: space-between;
}

.detailsStyle {
  grid-area: description;
  padding: 5rem;
  margin-top: 5rem;
  h3 {
    font-size: 2rem;
  }
}

.text {
  padding: 2rem 0rem;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 1rem;
    color: $color-white;
  }
}

a {
  text-decoration: none;
}
