@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.contact {
  min-height: 90vh;
  overflow: hidden;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 15rem;
  z-index: 2;

  @include tablet {
    padding: 2rem 2rem;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-weight: 500;
    font-size: 3rem;
  }

  .hide {
    overflow: hidden;
  }

  .social {
    flex: 1;

    margin-bottom: 40rem;

    @include mobile {
      margin-bottom: 1rem;
    }
  }

  .links {
    flex: 1;
    margin-bottom: 23rem;


    @include mobile {
      margin-bottom: 0;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "icons icons icons"
      "cv cv cv"
      "email email email";
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    list-style: none;

    @include mobile {
      grid-column-gap: 0%;
      grid-row-gap: 0%;

    }

    li {
      margin-bottom: 5rem;
    }

    .cv {
      background-color: $color-secondary;
      padding: 1.5rem 1rem;
      grid-area: cv;
      transition: all 0.5s ease;
      &:hover {
        background-color: transparent;
      }
    }

    .email {
      grid-area: email;
      color: $color-primary-light;
      font-weight: 500;
    }
  }

  .icon {
    color: $color-white;
    grid-area: icons;
    transition: all 0.5s ease;

    &:hover {
      color: $color-secondary;
    }

    @include tablet {
      font-size: 4rem;
    }
  }
}
