.about {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #fafafafa;
}

.description {
  flex: 1;
  padding-right: 5rem;
  z-index: 2;
}

.hide {
  overflow: hidden;
}

.image {
  flex: 1;
  overflow: hidden;
  z-index: 2;
  img {
    width: 60%;
    height: 40vh;
    object-fit: cover;
    border-radius: 5%;
  }
}



.heading {
  font-weight: 400;
}
