$color-primary: #131628;
$color-primary-light: #d1d5e8;
$color-secondary: #fd4370;
$color-white: #fafafa;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop-large: 1300px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background: linear-gradient(#1c1e31, #131628);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "poppins", sans-serif;
}

button {
  text-decoration: none;
  border: 3px solid #fd4370;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  background-color: #fd4370;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
  &:hover {
    background-color: transparent;
  }
}

h2 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  /* text-decoration: underline 0.15em #fd4370;
    text-underline-offset: 0.3em; */
}
h3 {
  color: white;
}
p {
  padding: 3rem 0rem;
  color: #d1d5e8;
  font-size: 1.4rem;
  line-height: 150%;
}
h4 {
  font-size: 2.5rem;
}
span {
  font-weight: bold;
  color: #fd4370;
}
a {
  font-size: 1.1rem;
}
