@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.nav {
  overflow: hidden;
  min-height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #131628;
  padding: 1rem 10rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @include tablet {
    flex-direction: column;
    padding: 1rem 1rem;
  }
}

.ul {
  display: flex;
  list-style: none;

  @include tablet {
    padding: 2rem;
    justify-content: space-around;
    width: 100%;
  }
}

.li {
  padding-left: 7rem;
  position: relative;

  @include tablet {
    padding-left: 0rem;
  }
}

.link {
  color: #d1d5e8;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s ease;
  &:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #fd4370;
    text-decoration-thickness: 4px;
  }

  @include mobile {
    font-size: 1.2rem;
  }
}

.resume {
  border: 3px solid #fd4370;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
  background-color: $color-secondary;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
  font-weight: 500;
  &:hover {
    background-color: transparent;
  }

  @include mobile {
    display: none;
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
  }
}

.logo {
  @include tablet {
    display: inline-block;
    margin: 1rem;
  }

  img {
    margin-top: 1rem;
    height: 5rem;
    width: 15rem;
  }

  .logo img:hover {
    animation: hover 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    @keyframes hover {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.2);
      }
    }
  }
}
